* {
  margin: 0%;
  padding: 0px;
}

.head {
  background-color: rgba(0, 128, 0, 0.363);
  background-image: url(imagenes/banner-g549241ff1_1280.jpg);
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 100%;
}

.head__galeria {
  background-image: url(../imagenes/banner-g549241ff1_1280.jpg);
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 100%;
}

nav li a:hover {
  color: rgba(145, 255, 0, 0.938);
}

.imgbox img {
  transition: 2s;
}

.imgbox img:hover {
  height: 95%;
  width: 95%;
  transition: 1s;
}

.mainlogo {
  animation-name: displacement;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

@keyframes displacement {
  0% {
    width: 10%;
    background-color: green;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 20%;
    background-color: rgb(89, 146, 4);
  }
  40% {
    width: 25%;
    background-color: greenyellow;
  }
  60% {
    width: 30%;
  }
  70% {
    width: 35%;
    background-color: rgba(188, 247, 99, 0.589);
  }
  80% {
    width: 32%;
  }
  100% {
    width: 30%;
    background-color: rgba(99, 228, 149, 0.308);
  }
}
@media only screen and (min-width: 0px) {
  .head {
    background-color: rgba(0, 128, 0, 0.363);
    background-image: url(imagenes/banner-g549241ff1_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
  }

  .head__galeria {
    background-image: url(../imagenes/banner-g549241ff1_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
  }

  .mainlogo {
    height: 96px;
    width: 30%;
    font-size: 50px;
    color: rgba(136, 102, 28, 0.89);
    background-color: rgba(99, 228, 149, 0.308);
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin: 3px auto;
    border: 1px solid greenyellow;
    border-radius: 20%;
  }

  .mobicon {
    color: rgb(131, 95, 18);
    font-size: 18px;
    font-family: "Lobster", cursive;
    width: 90%;
    margin: auto;
    max-width: 600px;
    padding: 0px;
    float: left;
    box-shadow: 0 0 15px gray;
  }

  .notmobile {
    display: none !important;
  }

  nav li a {
    text-decoration: none;
    color: rgb(180, 7, 223);
    text-transform: uppercase;
    display: block;
    text-shadow: 0 0 15px black;
  }

  .moblist {
    list-style: none !important;
  }

  .bar li {
    display: inline-block;
    text-align: center;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  nav input {
    height: 30px;
    margin-top: 10px;
  }

  main {
    background-color: rgba(238, 130, 238, 0.247);
    background-image: url(imagenes/leaves-gebba8ed0c_1920.png);
  }

  h2 a {
    color: rgb(209, 176, 99);
    font-size: 20px;
    font-family: "Lobster", cursive;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  section video {
    display: block;
    width: 80%;
    margin: auto;
  }

  p {
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 30px;
    color: rgb(209, 176, 99);
  }

  .principal-tienda {
    height: 900px;
    background-color: rgba(238, 130, 238, 0.247);
    background-image: url(imagenes/leaves-gebba8ed0c_1920.png);
  }

  .descripcion {
    color: rgb(95, 78, 204);
    font-size: 26px;
    font-family: "Dancing Script", cursive;
    font-weight: 300;
  }

  .descripcion__caract {
    font-size: 18px;
    font-style: normal;
    font-family: "Dancing Script", cursive;
    color: rgb(118, 3, 185);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .container img {
    width: 45%;
  }

  .tiempo {
    display: none;
  }

  .list-group-item {
    color: rgb(131, 95, 17);
    font-size: 1rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    text-transform: uppercase;
    cursor: unset !important;
  }

  .pie {
    height: 80px;
    display: flex;
  }

  .pie i {
    float: left;
    padding-right: 20px;
    color: rgb(109, 44, 129);
    font-size: 14px;
  }

  .pie__sub {
    text-decoration: overline;
    font-size: 12px;
  }

  .pie a i {
    float: right;
  }

  .imgbox {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-row: repeat(7, 1fr);
  }

  .imgbox img {
    width: 100%;
  }

  .list-group-item--n2 {
    font-size: 30px;
    width: 85%;
    text-decoration: overline;
  }

  .results {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
  }

  .mod {
    right: 2px;
    bottom: 2px;
    float: right;
    width: 15%;
    font-size: 0.85rem;
  }
}
@media only screen and (min-width: 480px) {
  .head {
    background-color: rgba(0, 128, 0, 0.226);
    background-image: url(imagenes/banner-g549241ff1_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
  }

  .head__galeria {
    background-image: url(../imagenes/banner-g549241ff1_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
  }

  .mainlogo {
    height: 96px;
    width: 30%;
    font-size: 80px;
    color: rgba(136, 102, 28, 0.89);
    background-color: rgba(99, 228, 149, 0.308);
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin: 3px auto;
    border: 1px solid greenyellow;
    border-radius: 20%;
  }

  .bar {
    color: rgba(180, 45, 214, 0.753);
    font-size: 25px;
    font-family: "Lobster", cursive;
    width: 90%;
    margin: auto;
    max-width: 600px;
    padding: 0px;
    float: left;
  }

  nav li a {
    text-decoration: none;
    color: rgba(142, 1, 197, 0.856);
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
  }

  .bar li {
    display: inline-block;
    text-align: center;
  }

  nav {
    display: flex;
  }

  .nav-link {
    color: rgb(209, 176, 99) !important;
    font-family: "Lobster", cursive;
    font-size: 1rem;
    text-shadow: 0 0 20px rgb(68, 9, 9), 0 0 15px rgb(71, 8, 148);
  }

  .tiempo {
    display: none;
  }

  main {
    background-color: rgba(238, 130, 238, 0.247);
    background-image: url(imagenes/leaves-gebba8ed0c_1920.png);
  }

  h2 a {
    color: rgb(209, 176, 99);
    font-size: 25px;
    font-family: "Lobster", cursive;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  section {
    display: flex;
  }

  video {
    display: flex;
  }

  p {
    font-family: "Lobster", cursive;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 30px;
    color: rgb(209, 176, 99);
  }

  .descripcion {
    color: rgb(95, 78, 204);
    font-size: 26px;
    font-family: "Dancing Script", cursive;
    font-weight: 300;
  }

  .descripcion__caract {
    font-size: 18px;
    font-style: normal;
    font-family: "Dancing Script", cursive;
    color: rgb(118, 3, 185);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .container img {
    width: 45%;
  }

  .tiempo {
    display: none;
  }

  .list-group-item {
    color: rgb(131, 95, 17);
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    text-transform: uppercase;
    cursor: unset !important;
  }

  .pie {
    display: inline-block;
    height: 60px;
  }

  .pie {
    background-size: cover;
    background-position: center;
  }

  .pie__sub {
    color: black;
    font-size: 10px;
    text-decoration: overline;
  }

  .pie i {
    float: left;
    padding-right: 12px;
    color: rgb(109, 44, 129);
    font-size: 16px;
  }

  .pie a i {
    float: right;
  }

  .imgbox {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-row: repeat(7, 1fr);
  }

  .imgbox img {
    width: 100%;
  }

  .list-group-item--n2 {
    font-size: 40px;
    width: 85%;
    text-decoration: overline;
  }

  .results {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
  }

  .mod {
    right: 2px;
    bottom: 2px;
    float: right;
    width: 15%;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .notmobile {
    display: unset !important;
  }

  .mobilenav {
    display: none;
  }

  .list-group-item {
    color: rgb(131, 95, 17);
    font-size: 1.8rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    text-transform: uppercase;
    cursor: unset !important;
  }

  .refvid {
    font-size: 22px;
  }

  .list-group-item--n2 {
    font-size: 40px;
    width: 85%;
    text-decoration: overline;
  }

  .results {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
  }

  .mod {
    right: 2px;
    bottom: 2px;
    float: right;
    width: 15%;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 760px) {
  .mainlogo {
    height: 96px;
    width: 30%;
    font-size: 80px;
    color: rgba(136, 102, 28, 0.89);
    background-color: rgba(99, 228, 149, 0.308);
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin: 3px auto;
    border: 1px solid greenyellow;
    border-radius: 20%;
    padding-left: 3rem;
  }

  .bar {
    color: rgba(180, 45, 214, 0.753);
    font-size: 25px;
    font-family: "Lobster", cursive;
    width: 90%;
    margin: auto;
    max-width: 600px;
    padding: 0px;
    float: left;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  nav li a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
    display: block;
  }

  .bar li {
    display: inline-block;
    text-align: center;
  }

  nav input {
    height: 30px;
    margin-top: 10px;
  }

  .nav-link {
    color: rgb(209, 176, 99) !important;
    font-family: "Lobster", cursive;
    font-size: 1.7rem;
    text-shadow: 0 0 20px rgb(68, 9, 9), 0 0 15px rgb(71, 8, 148);
  }

  .tiempo {
    float: right;
    display: unset;
  }

  main {
    background-color: rgba(238, 130, 238, 0.247);
    background-image: url(imagenes/leaves-gebba8ed0c_1920.png);
  }

  h2 a {
    color: rgb(209, 176, 99);
    font-size: 32px;
    font-family: "Lobster", cursive;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  section {
    display: flex;
  }

  video {
    display: flex;
    margin-left: 1rem;
    width: 50%;
  }

  p {
    font-family: "Lobster", cursive;
    font-size: 25px !important;
    text-align: center;
    margin-top: 30px;
    color: rgb(209, 176, 99);
  }

  .descripcion {
    color: rgb(95, 78, 204);
    font-size: 5rem;
    font-family: "Dancing Script", cursive, cursive;
    font-weight: 300;
  }

  .descripcion__caract {
    font-size: 2.5rem;
    font-style: normal;
    font-family: "Dancing Script", cursive;
    color: rgb(118, 3, 185);
  }

  .list-group-item {
    color: rgb(131, 95, 17);
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    text-transform: uppercase;
    cursor: unset !important;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
  }

  .pie {
    background-size: cover;
    background-position: center;
  }

  .pie__sub {
    color: black;
    font-size: small;
    text-decoration: overline;
  }

  .pie i {
    float: left;
    padding-right: 25px;
    color: rgb(109, 44, 129);
    font-size: 18px;
  }

  .pie a i {
    float: right;
  }

  .imgbox {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(7, 1fr);
  }

  .p1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .p2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .p3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .p10 {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .p5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .p9 {
    grid-column: 1/3;
    grid-row: 7/8;
  }

  .p7 {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .p8 {
    grid-column: 1/3;
    grid-row: 6/7;
  }

  .p4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .imgbox img {
    width: 100%;
  }

  .list-group-item--n2 {
    font-size: 40px;
    width: 85%;
    text-decoration: overline;
  }

  .results {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
  }

  .mod {
    right: 2px;
    bottom: 2px;
    float: right;
    width: 15%;
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1160px) {
  .mainlogo {
    height: 96px;
    width: 30%;
    font-size: 80px;
    color: rgba(136, 102, 28, 0.89);
    background-color: rgba(99, 228, 149, 0.308);
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin: 3px auto;
    border: 1px solid greenyellow;
    border-radius: 20%;
    padding-left: 6rem;
  }

  .bar {
    color: rgba(180, 45, 214, 0.753);
    font-size: 30px;
    font-family: "Lobster", cursive;
    width: 90%;
    margin: auto;
    max-width: 1000px;
    padding: 0px;
    float: left;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  nav input {
    height: 30px;
    margin-top: 20px;
  }

  .nav-link {
    color: rgb(209, 176, 99) !important;
    font-family: "Lobster", cursive;
    font-size: 1.7rem;
    text-shadow: 0 0 20px rgb(68, 9, 9), 0 0 15px rgb(71, 8, 148);
  }

  .tiempo {
    float: right;
  }

  main {
    background-color: rgba(238, 130, 238, 0.247);
    background-image: url(imagenes/leaves-gebba8ed0c_1920.png);
  }

  h2 a {
    color: rgb(209, 176, 99);
    font-size: 40px;
    font-family: "Lobster", cursive;
    text-decoration: none;
    text-align: center;
    justify-content: center;
  }

  section {
    display: flex;
  }

  video {
    display: flex;
    margin-left: 1rem;
    width: 60%;
  }

  p {
    font-family: "Lobster", cursive;
    font-size: 3rem !important;
    text-align: center;
    margin-top: 30px;
    color: rgb(209, 176, 99);
  }

  .principal {
    background-color: rgba(238, 130, 238, 0.247);
    background-image: url(imagenes/leaves-gebba8ed0c_1920.png);
  }

  .descripcion {
    color: rgb(95, 78, 204);
    font-size: 30px;
    font-family: "Dancing Script", cursive;
  }

  .descripcion__caract {
    font-size: 20px;
    font-style: normal;
    font-family: "Dancing Script", cursive;
    color: rgb(118, 3, 185);
  }

  .list-group-item {
    color: rgb(131, 95, 17) 5;
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    font-weight: 900;
    text-transform: uppercase;
    cursor: unset !important;
  }

  .pie {
    background-size: cover;
    background-position: center;
  }

  .pie__sub {
    color: black;
    font-size: small;
    text-decoration: overline;
  }

  .pie i {
    float: left;
    padding-right: 20px;
    color: rgb(109, 44, 129);
    font-size: 20px;
  }

  .pie a i {
    float: right;
  }

  .imgcart {
    height: 15px;
    width: 15px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .container img {
    width: 30%;
  }

  .imgbox {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(5, 1fr);
  }

  .p1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .p2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .p3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .p10 {
    grid-column: 1/2;
    grid-row: 4/6;
  }

  .p5 {
    grid-column: 3/4;
    grid-row: 3/4;
  }

  .p9 {
    grid-column: 3/4;
    grid-row: 5/6;
  }

  .p7 {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .p8 {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  .p4 {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .imgbox img {
    width: 100%;
  }

  .list-group-item--n2 {
    font-size: 40px;
    width: 85%;
    text-decoration: overline;
  }

  .results {
    display: flex;
  }

  .mod {
    right: 2px;
    bottom: 2px;
    float: right;
    width: 15%;
    font-size: 2rem;
  }
}
.galeria, .prod {
  font-size: 35px;
  color: rgb(209, 176, 99);
  text-transform: uppercase;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.514);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.411);
}

.logo_prov {
  height: 80px;
  width: 40px;
  float: right;
}

.pie {
  width: 100%;
  height: 40px;
  background-color: springgreen;
  background-image: linear-gradient(to top, rgb(110, 255, 66), rgba(225, 0, 255, 0.521));
}

.carousel-indicators [data-bs-target] {
  background-color: rgba(58, 182, 231, 0.616);
  border-radius: 35px;
  height: 15px;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.5254901961) !important;
}

.mainlogo {
  text-shadow: 0 0 10px rgba(206, 131, 20, 0.918);
}

input::placeholder {
  color: #AB04D4 !important;
}

.btn-primary {
  background-color: rgba(49, 5, 246, 0.5058823529);
}

.infoc {
  width: 100%;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2rem;
  color: #ae00ff;
  text-transform: uppercase;
}

main div form div label {
  font-family: "Dancing Script", cursive;
  color: #ae00ff;
  font-weight: 900;
  font-size: 1.2rem;
}

.prod {
  border: none;
  color: rgb(209, 176, 99);
}

.row {
  gap: 1rem;
  justify-content: center;
}

.card-text {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.589);
}

h4 {
  font-family: "Lobster", cursive;
}

.card {
  background-color: rgba(209, 176, 99, 0.404);
}

.list-group-item--n1 {
  color: black;
  text-transform: none;
}

.list-group-item--n2 {
  color: black;
  text-transform: none;
}

.row {
  width: 98%;
  margin: auto;
  justify-content: center;
}

.pie i:hover {
  color: rgb(0, 119, 255);
}

/*# sourceMappingURL=estilos.css.map */
